[Unit]
Description=Llama.cpp server for LLMs

[Service]
WorkingDirectory=/opt/llama.cpp/build/bin
ExecStart=llama-server --host 10.10.0.5 --port 9931 --no-ui -t 4 -n -1 -c 49152 --models-max 1 --models-dir /home/ai/models/
Restart=on-failure
RestartSec=1

[Install]
WantedBy=default.target
