[Unit]
Description='Automatically sync the Open-WebUI chat logs to a "read only" instance for remote usage.'
After=multi-user.target

[Service]
Type=oneshot
WorkingDirectory=/home/pengmania/Projects/scripts
ExecStart=/bin/bash Open-WebUI-DB-Sync.sh

[Install]
WantedBy=multi-user.target
