[Unit]
Description=Homepage

[Container]
Image=ghcr.io/gethomepage/homepage:latest
ContainerName=homepage
Network=homepage.network

PublishPort=3000:3000
Volume=%h/homepage/configs:/app/config:Z
Volume=%h/homepage/images:/app/public/images:Z
Environment=HOMEPAGE_ALLOWED_HOSTS=home.uhhhhh,10.10.0.3:3000

[Service]
Restart=always

[Install]
WantedBy=default.target
